/*--- General ---*/
body {
	padding: 0;
}

.top-bar {
	/* Might Remove this */
	background: #000;
	height: 0px;
	width: 100%;
}

.header-content {
	display: block;
	height: 375px;
	
	/*background: #C9FFD6;*/
	background-size: 100%;
	background-image: url('../img/bowl.jpg');

	color: #FFF;
	text-align: center;
	font-family: 'Comfortaa', sans-serif;
	padding: 40px;
}

.header-content h1 {
	font-size: 100px;
	height: 100%;
	letter-spacing: -4px;
}

.header-content h1::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}















